
<div class="flex justify-content-between">
    <h2>Subcontractors</h2>
    <p-button label="Nouveau sous-traitant" (click)="showAddModal()"></p-button>

</div>

<app-add-edit-soustraitant
    [displayAddModal]="displayAddModal"
    (clickClose)="hideAddModal($event)">
</app-add-edit-soustraitant>
 

<p-table [value]="suppliers" [tableStyle]="{ 'min-width': '50rem' }"  [paginator]="true" [rows]="4">
    <ng-template pTemplate="header">
        <tr>
            <th>Company</th>
            <th>PhoneNumber</th>
            <th>countryId</th>
            <th>City</th>
            <th>Zip</th>
            <th>State</th>
            <th>Address</th>
            <th>Website</th>
            <th>DefaultCurrencyId</th>
            <th>CodeAuxi</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-supplier>
        <tr>
            <td>{{ supplier.company}}</td>
            <td>{{ supplier.phoneNumber }}</td>
            <td>{{ supplier.countryId }}</td>
            <td>{{ supplier.city }}</td>
            <td>{{ supplier.zip }}</td>
            <td>{{ supplier.state }}</td>
            <td>{{ supplier.adress }}</td>
            <td>{{ supplier.website }}</td>
            <td>{{ supplier.defaultCurrencyId }}</td>
            <td>{{ supplier.codeAuxi }}</td>

        </tr>
    </ng-template>
</p-table>
